<%
business = Yelp.client.business(params[:id])
display_address_str = ""
first = true
business.location.display_address.each do |part|
  if first
    first = false
  else
    display_address_str += "<br/> "
  end
  display_address_str += part
end
%>
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <h1><%= h business.name %></h1>
      <div class="row">
        <div class="col-lg-2">
          <img src="<%= h business.image_url %>" width="150px" height="150px">
          <br />
        </div>
        <div class="col-lg-4">
          <img src="<%= h business.rating_img_url_large %>"> <span class="review"><%= h business.rating %></span>
          <br />
          <br />
          <h4 class="address"><%= display_address_str %></h4>
          <br />
          <br />
          <h4 class="address"><%= business.display_phone %></h4>
          <br />
          <br />
          <%
            starClass = "fa-star-o"
            if @user
              star = Star.find_by(user_id: @user.id, place_id: business.id)
              if star
                starClass = "fa-star"
              end
            end
          %>
          <button class="btn btn-default qley" data-id="<%= h business.id %>"><i class="fa <%= starClass %>"></i> Qley this place!</button>
        </div>
        <div class="col-lg-6">
          <div id="map-canvas" style="width: 500px; height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    window.map = new google.maps.Map($("#map-canvas")[0], {
      center: new google.maps.LatLng(0, 0),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    window.geocoder = new google.maps.Geocoder();
    var business = <%= jsObject business %>;
    var display_address_str = "";
    var first = true;
    for (var aIndex in business.location.display_address)
    {
      var part = business.location.display_address[aIndex];
      if (first)
      {
        first = false;
      }
      else
      {
        display_address_str += ", ";
      }
      display_address_str += part;
    }
    geocodeAndPlace(display_address_str, business);
  });
</script>