<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <h1>Here are your search results!</h1>

      <div class="row">
        <div class="col-md-8 mapCol">
          <div id="map-canvas"></div>
        </div>
        <div class="col-md-4">

          <% @results.businesses.each do |business| %>

          <h3><a href="/business/<%= h business.id %>"><%= h business.name %></a></h3>
          <img src="<%= h business.rating_img_url_large %>">
          &nbsp;&nbsp;&nbsp;
          <%
            starClass = "fa-star-o"
            if @user
              star = Star.find_by(user_id: @user.id, place_id: business.id)
              if star
                starClass = "fa-star"
              end
            end
          %>
          <button class="btn btn-default qley" data-id="<%= h business.id %>" data-toggle="tooltip" data-placement="bottom" title="Qley this place!"><i class="fa <%= starClass %>"></i></button>
          <%
            displayStr = qleyCount(business.id)
          %>
          <p class="qleyCount"><%= displayStr %></p>
          <%
display_address_str = ""
first = true
business.location.display_address.each do |part|
  if first
    first = false
  else
    display_address_str += ", "
  end
  display_address_str += part
end
%>
          <h4><%= h display_address_str %></h4>
          <% end %>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          var businesses = <%= jsArray @results.businesses %>;

          var mapCanvas = document.getElementById('map-canvas');
          var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          window.map = new google.maps.Map(mapCanvas, mapOptions);
          window.geocoder = new google.maps.Geocoder();

          for (var bIndex in businesses)
          {
            var business = businesses[bIndex];
            var display_address_str = "";
            var first = true;
            for (var aIndex in business.location.display_address)
            {
              var part = business.location.display_address[aIndex];
              if (first)
              {
                first = false;
              }
              else
              {
                display_address_str += ", ";
              }
              display_address_str += part;
            }
            geocodeAndPlace(display_address_str, business);
          }
        });
      </script>
    </div>
  </div>
</div>